<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.opensg.tcs.main.preference.GeneralOptionsPage"
            id="net.opensg.tcs.main.preference.GeneralPage"
            name="GeneralPage">
      </page>
      <page
            class="net.opensg.tcs.main.preference.TableViewerOptionsPage"
            id="net.opensg.tcs.main.preference.TableViewerOptionsPage"
            name="TableViewerOptions">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.opensg.tcs.main.preference.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
